extends ../layouts/frontend.pug

block content
    each post in posts 
        div
            h1=post.title
            p=post.date 

block sidebar
    ul
        each author in authors
            li=author