nav.navbar.navbar-light.bg-light
        a.navbar-brand(href="/") Tech           
        a.navbar-link(href="/") Home           
        a.navbar-link(href="/posts") Posts   
        a.navbar-link(href="/author") Search Author   